<mat-drawer-container class="sideNavContainer">
  <mat-drawer mode="side" [opened]="tableService.isOpened">
    <div class="closeContainer">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="onToggle()"
        *ngIf="tableService.isOpened"
      >
        <mat-icon>close</mat-icon>
      </button>
      <h2>Filters</h2>
    </div>
    <mat-divider></mat-divider>
    <div class="filtersContainer">
      <mat-form-field
        class="SideOptions"
        appearance="outline"
        *ngFor="let filter of filters"
      >
        <mat-label>{{ filter.name }}</mat-label>
        <input
          matInput
          *ngIf="filter.type === 'typehead'"
          placeholder="Jane Doe"
          (keyup)="searchData($event)"
          fxFlex="25"
        />
        <mat-select
          *ngIf="filter.type === 'dropdown'"
          (selectionChange)="filterData($event)"
        >
          <mat-option value="NONE"> NONE </mat-option>
          <mat-option *ngFor="let option of filter.options" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-drawer>
  <mat-drawer-content class="contentSecondary">
    <div [ngClass]="{ mainContainer: tableShow }">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="onToggle()"
        *ngIf="!tableService.isOpened"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <mat-table [dataSource]="dataSource" class="tableContainer">
        <ng-container
          *ngFor="let columns of displayedColumns"
          [matColumnDef]="columns"
        >
          <mat-header-cell *matHeaderCellDef>{{ columns }}</mat-header-cell>
          <mat-cell mat-cell *matCellDef="let element">
            <span *ngIf="element[columns] | isArray; else elseBlock">
              <ng-container *ngFor="let item of element[columns]">
                <span *ngIf="columns === 'Action'; else notButton">
                  <button
                    class="btn-action"
                    mat-stroked-button
                    *ngIf="item.button === 'stroked'"
                    [color]="item.color"
                    (click)="buttonPressed(element, item)"
                  >
                    {{ item.name }}
                  </button>
                  <button
                    class="btn-action"
                    mat-raised-button
                    *ngIf="item.button === 'raised'"
                    [color]="item.color"
                    (click)="buttonPressed(element, item)"
                  >
                    {{ item.name }}
                  </button>
                </span>
                <ng-template #notButton> {{ item }} </ng-template>
              </ng-container>
            </span>
            <ng-template #elseBlock>
              {{ element[columns] }}
            </ng-template>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </div>
    <footer>
      <mat-paginator
        #paginator
        [pageSizeOptions]="[5, 10, 15]"
        showFirstLastButtons
      ></mat-paginator>
    </footer>
  </mat-drawer-content>
</mat-drawer-container>
