<div class="container">
  <app-loader *ngIf="loading == true"></app-loader>
  <app-snackbar
    *ngIf="message !== ''"
    [action]="'close'"
    [error]="message"
    (messageEmit)="emptyMessages($event)"
  ></app-snackbar>
  <mat-card class="my-card">
    <mat-card-title class="title">Login</mat-card-title>
    <mat-card-content>
      <form class="my-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input
            type="email"
            formControlName="email"
            matInput
            placeholder="Ex. pat@example.com"
          />
          <mat-error
            *ngIf="
              loginForm.controls.email.touched == true &&
              loginForm.controls.email.status == 'INVALID'
            "
            >please enter a valid email.</mat-error
          >
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            formControlName="password"
            placeholder="Password"
            name="password"
          />
          <mat-error
            *ngIf="
              loginForm.controls.password.touched == true &&
              loginForm.controls.password.status == 'INVALID'
            "
            >please enter a valid password.</mat-error
          >
        </mat-form-field>
        <p><a routerLink="/signup">Sign up</a></p>
        <mat-card-actions class="login-button">
          <button mat-raised-button color="primary">LOGIN</button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
