.leaveHeaderContainer {
  width: 100%;
  justify-content: center;
  display: flex;
}

.leaveHeaderOptionsWrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.leaveHeaderOptions {
  display: flex;
  align-items: center;
  justify-content: center;
}
