.content {
  height: calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #002b5c;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
  margin-bottom: 0;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

.sideNavContainer {
  display: flex;
  flex-direction: column;
}

.sideNavOptionContainer {
  display: flex;
  cursor: pointer;
  border-radius: 35px;
  background-color: white;
  align-items: center;
  margin: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 11px;
  height: 2.25rem;
  justify-content: flex-start;
  width: 93%;
  overflow: none;
  margin-left: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.activeoption {
  background-color: black;
}

.sideNavOption {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  font-size: large;
  color: black;
  text-align: center;
  font-weight: 500;
  margin-left: .30rem;
}


mat-icon {
  color: black;
  margin-left: 1px;
  margin-right: 2px;
}
